body {
  background: papayawhip;
}

* {
  border: 1px solid black;
}


div {
  margin: .5em;
}


.groupings {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 720px) {
  .colums {
    display: flex;
    justify-content: space-between;
  }

  .f {
    flex-grow: 1;
  }

  .b-grouping {
    flex-grow: 2;
  }

}
